{{outlet}}
<div class="container">
	<div class="page-header">
        <h2>Upload Template</h2>
    </div>
	<div class="form-group">
        <label for="identification">Title</label>
        {{input type="text" value=title class='form-control'}}
    </div>
	<div class="dropzone">		
		{{file-upload-draggable record=model type="template" url="/api/v1/uploads/homepageTemplate"}}
	</div>
</div>