{{outlet}}
<div class="row bump">
    <div class="small-12 large-6 columns">
        <div class="row">
            <div class="small-12 large-8 columns">

                <div class="large-6 columns">
                    <label>Name {{input type="text" value=name}}
                    </label>
                </div>
                <div class="large-6 columns">
                    <label>Description {{textarea type="text" value=description}}
                    </label>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="columns large-12 bump">
    <div class="row">
        <div class="large-6 columns">
            <div class="button expand" {{action 'createVendor' model}}>Create Vendor</div>
        </div>
    </div>
</div>
