{{yield}}

	{{#link-to 's.media.albums.create'}}
		<div class="album-tile">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		</div>
	{{/link-to}}

	{{#each albums as |album|}}
		<span {{action 'pickAlbum' album}} class="album-tile" id={{album.id}}>
			{{album.name}}
		</span>
	{{/each}}
