{{yield}}

<div class="container-fluid">
    <p> You are viewing from <b>{{location}}</b></p>
    <h3>Nearby Places to eat are: </h3>
    <div id="mapfeed"></div>
	
	
    {{#each nearbyLocations as |place|}} 
		<h4><b>{{place.name}}</b></h4>
		<p>{{place.formatted_address}}</p>
    {{/each}}
</div>