{{outlet}}
<div class="columns large-12">
	<h2>Upload template</h2>
	Title: {{input type="text" value=title}}
	<div class="dropzone">		
		{{file-upload-draggable record=model type="template" url="/api/v1/uploads/homepageTemplate"}}
	</div>
</div>