<div class="container">
    <div class="row">
        <h1>dynamic page manager</h1>
        {{#link-to 's.page-manager.new' class="btn btn-info"}}Create New Page{{/link-to}}
    </div>
    <div class="row">
        {{outlet}}
    </div>
</div>


