<div class="container">
    <div class="page-header">
        <h2>Dynamic Page Manager</h2>
        {{#link-to 's.page-manager.new' class="btn btn-info bump"}}Create New Page{{/link-to}}
    </div>
    <div class="row">
        {{outlet}}
    </div>
</div>
