{{outlet}}
<div class="columns large-12">
	<div class="button expand">{{#link-to 'templates.create' tagName='a'}}Upload Template{{/link-to}}</div>
	<h2>List of Vendors:</h2>
	{{#each model as |vendor|}}
		<h3>{{vendor.name}}</h3>
		<h4>belongs to: {{vendor.user.name}}</h4>
		<p>{{vendor.description}}</p>
	{{/each}}
</div>