{{outlet}}
<div class="container">
    <div class="page-header">
        <h2>Media Gallery</h2>
    </div>
    <div {{action "openModal" "s.media.upload" this}} class="btn btn-info">Upload images</div>
    <p>create new album, for each album, show thumbnail etc.</p>
</div>
