<div>Progress:{{progress}}</div>
<div>{{filesPresent}}</div>
<div class="basket"></div>
<div class="bump large-3 columns">
	<div {{action 'upload'}} class="button expand">Upload</div>
</div>
{{yield}}