{{yield}}

<form role="form">
    <div class="form-group">
        <label for="status-post">What is on your mind?</label>
        {{input type="text" id="status-post" value=status.post class="form-control" }}
    </div>
    <div class="form-group">
        <label for="status-activity">What are you doing?</label>
        {{input type="text" id="status-activity" value=status.activity class="form-control" }}
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <div class="bump"></div>
</form>
