.bump {
    margin-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
}

.absolute-center {

    margin: auto;

    position: absolute;

    top: 0;

    left: 0;

    bottom: 0;

    right: 0;

    overflow:auto;

}
