{{outlet}}

<div class="container upload-wrapper">
	<div class="page-header">
        <h2>Upload your photos</h2>
    </div>
    <div class="row">
		<div  class="bump modal-body">
			<h4>Select Album</h4>
			{{album-picker albums=model selectedAlbum=selectedAlbum}}
			{{bootstrap-fileinput url="/api/v1/uploads/photo" associationType="album" extraData=selectedAlbum.id}}
		 </div>
		<div class="modal-footer">
			{{#link-to "s.media"}}
				<div class="btn btn-info">
					<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
					Back to gallery
				</div>
			{{/link-to}}
		</div>
	</div>
</div>
