{{yield}}

<div class="loader "></div>

<div class="photo-list">
    <ul id="tiles">
    	{{#each photos as |photo index|}}    		
	        {{!-- {{#link-to 'photos.photo' this}} --}}
		        <li>
		        	{{#link-to (query-params p=photo.id)}}		        	
					<img class="photo-tile" {{bind-attr src=photo.thumbPath alt=album.name}} >
					{{/link-to}}
		            {{!-- <p>{{name}}</p> --}}
		            <p>{{index}}</p>
		        </li>
	        {{!-- {{/link-to}} --}}
	    {{/each}}
    </ul>
</div>
