{{yield}}

<div class="loader "></div>

<div class="photo-list">
    <ul id="tiles">
    	{{#each photos as |photo|}}
	        {{!-- {{#link-to 'photos.photo' this}} --}}
		        <li>		  
					<img class="photo-tile" {{bind-attr src=photo.filePath alt=album.name}} >
					
					<p> whatever </p>
		            {{!-- <p>{{name}}</p> --}}
		        </li>
	        {{!-- {{/link-to}} --}}
	    {{/each}}
    </ul>
</div>