{{yield}}
<div class="form-group">
    <label for="status-note">What is on your mind?</label>
    {{input type="text" id="status-note" value=status.note class="form-control" autofocus="autofocus"}}
</div>
