
{{outlet}}
<div class="col-xs-6">
    <div class="row">
        <div class="page-header">
            <h3>Events</h3>

        </div>
    </div>
    <div class="row">
        {{!-- {{#each model as |event|}}
            {{event-card status=status}}
        {{/each}} --}}
    </div>

</div>
