{{outlet}}
<div class="container">
	<div class="page-header">
        <h2>Index</h2>
    </div>

	{{#if session.isAuthenticated}}
	  <a {{ action 'invalidateSession' }}>Logout</a>
	{{else}}
	  {{! show login panel component}}
	  {{login-panel}}
	{{/if}}
</div>