<div>
	{{#link-to 'index'}}Index{{/link-to}}
	{{#link-to 'media'}}Media{{/link-to}}
	{{#link-to 'posts'}}Posts{{/link-to}}
	{{#link-to 'users'}}Users{{/link-to}}
	{{#link-to 'vendors'}}Vendors{{/link-to}}
	{{#link-to 'homepages'}}Homepages{{/link-to}}
	{{#link-to 'feed'}}Feed{{/link-to}}
</div>
{{outlet}}

{{outlet "modal"}}
