{{outlet}}
<div class="container">
    <div class="page-header">
        <h2>Media Gallery</h2>
    </div>
    <div {{action "openModal" "s.media.upload" controller}} class="btn btn-info">Upload images</div>
</div>
