{{outlet}}
<div class="container">
    <div class="page-header">
        <h2>Media Gallery</h2>
    </div>
    {{#link-to "s.media.upload"}}
    	<div class="btn btn-info">
    	<span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
    	Upload images
    	</div>
    {{/link-to}}

    <p>Album previews like amazon or picasa go here</p>
    {{#each model as |album|}}
        {{#link-to 's.media.albums.album' album.id}}
        <span class="album-tile" id={{album.id}}>
            {{album.name}}
        </span>
        {{/link-to}}
    {{/each}}

</div>
