<div class="container">
    <div class="page-header">
        <h2>{{model.title}}</h2>
    </div>
    <div class="row"><div class="col-xs-12">{{markdown-to-html markdown=model.content1}}</div></div>
    <div class="row"><div class="col-xs-12">{{markdown-to-html markdown=model.content2}}</div></div>
</div>
