{{yield}}
{{date-picker autoclose=true valueFormat="" date=fromDate format="MM-DD-YYYY" allowBlank=true placeholder="Show posts since"}}&nbsp;
<span {{action "clearDate"}} class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
<button {{action 'close'}} class="btn btn-info">Close</button>
