.upload-wrapper {
	background-color: #fff;
}

.file-drop-zone {
	border: none;
}

.dropzone {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: space-around;

  border: 2px solid #888;
  border-radius: 20px;
  color: #888;
  font: bold 24px/100px;
  min-height: 200px;
  width: 100%;
  margin-bottom: 30px;
}
