{{outlet}}
<div class="col-md-6">

    <div class="page-header">
        <h3>Feed</h3>
        {{bootstrap-datepicker autoclose=true value=fromDate format="mm-dd-yyyy" placeholder="Show posts since"}}
    </div>
    {{#link-to 's.feed.status'}}
        <button class="btn btn-info">Post Status</button>
    {{/link-to}}

    {{#each model as |status|}}
        {{status-card status=status}}
    {{/each}}

</div>
